{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 class="animate__animated animate__bounce">Online Gallery</h1>
    <p>Welcome to Online Gallery. Its all about uploading pictures and etc. Get started today.</p>
    <p id="myp1" style="margin-top: 1cm;">
    <button onclick="document.getElementById('myp2').textContent='All rights reserved by Online Gallery, We accept all terms. 2024 - 2028';  " class="button-89">Privacy Policy</button>
    <p id="myp2" style="margin-top: 1cm;"></p>
    
       
     
{% endblock %}